# Node modules
node_modules/

# Hardhat
artifacts/
cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env

# Coverage
coverage/
coverage.json

# Typechain
typechain/
typechain-types/

# OS files
.DS_Store

# VS Code
.vscode/

# Mac
.DS_Store

# Misc
*.log
